/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Poppins';   
}

html {
    scroll-behavior: smooth;
}


/* Inicio */

#inicio {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("imagenes/fondo-inicio.jpg");   ;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    }

#inicio .contenido header {
    background-color: rgba(0, 0, 0,.8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header {
    max-width: 1100px; 
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: #1b92f3;
    }

#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul a:hover {
    color: #1b92f3;
}

#inicio .contenido header .contenido-header .seleccionado {
    color: #1b92f3;
}


#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

#inicio .contenido .presentacion .bienvenida {    
    font-size: 26px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;    
}

#inicio .contenido .presentacion h2 {        
    font-size: 45px;
    margin-bottom: 25px;
    text-align: center;
    }

#inicio .contenido .presentacion h2 span {
    font-size: 55px;
    color: #1b92f3;
}

#icono-nav {
    color: #fff;
    display: none;
}

/* Sobre Mi */

#sobremi {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
}

#sobremi .contenedor-foto {
    max-width: 400px;
    margin-right: 80px;    
}

#sobremi .contenedor-foto img {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f3;      
}

#sobremi .sobremi {
    margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .sobremi h2 span {
    color: #1b92f3;
}

#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p {
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}

#sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;
}

#sobremi .sobremi a:hover {
    background-color: #1b92f3;
    color: #fff;
}

/* Formacion Academica */

#formacionacademica {
    padding: 100px 15px;
    text-align: center;
    background-color: #f3f3f3;
}

#formacionacademica .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#formacionacademica .fila {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;            
    margin: 30px auto;
    
}

#formacionacademica .fila .formacion {
    max-width: 350px;
    width: 350px;
    height: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    border-radius: 5px;
    transition: .5s;
}

#formacionacademica .fila .formacion:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#formacionacademica .fila .formacion .icono {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d3d3d3;
    padding: 20px;
    margin-bottom: 25px;
}

#formacionacademica .fila .formacion h4 {
    font-size: 22px;
    margin-bottom: 25px;
}

#formacionacademica .fila .formacion hr {
    width: 30%;
    margin: auto;
    color: #000;
    margin-bottom: 25px;
}

#formacionacademica .fila .formacion ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

#formacionacademica .fila .formacion p {
    font-size: 14px;
    line-height: 22px;
}


/* Habilidades */

.contenedor-habilidades {
    background: linear-gradient(#1b92f3, rgba(33, 16, 16, .8)), url("imagenes/fondo-habilidades.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}

.contenedor-habilidades .habilidad {
    max-width: 600px;
    margin: 30px auto;
}

.contenedor-habilidades .habilidad .info {
    display: flex;
    justify-content: space-between;
}

.contenedor-habilidades .habilidad .lista {
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}

.contenedor-habilidades .habilidad .barra {
    background-color: #919191;
    width: 100%;
    height: 6px;
    margin: 10px 0;
}

/* Animacion de la barra con javascript */

.contenedor-habilidades .habilidad .barra .barra-progreso1{
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso1 5s forwards;
}

.contenedor-habilidades .habilidad .barra .barra-progreso2{
    background-color: #fff;
    width: 50%;
    height: 6px;
    animation: progreso2 5s forwards;
}

.contenedor-habilidades .habilidad .barra .barra-progreso3{
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso3 5s forwards;
}

.contenedor-habilidades .habilidad .barra .barra-progreso4{
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso4 5s forwards;
}

.contenedor-habilidades .habilidad .barra .barra-progreso5{
    background-color: #fff;
    width: 80%;
    height: 6px;
    animation: progreso5 5s forwards;
}

.contenedor-habilidades .habilidad .barra .barra-progreso6{
    background-color: #fff;
    width: 75%;
    height: 6px;
    animation: progreso6 5s forwards;
}

.contenedor-habilidades .habilidad .barra .barra-progreso7{
    background-color: #fff;
    width: 85%;
    height: 6px;
    animation: progreso7 5s forwards;
}

/* Animacion de las barras */

@keyframes progreso1 {
    0%{width: 0;}
    100%{width: 90%;}
}

@keyframes progreso2 {
    0%{width: 0;}
    100%{width: 50%;}
}

@keyframes progreso3 {
    0%{width: 0;}
    100%{width: 95%;}
}

@keyframes progreso4 {
    0%{width: 0;}
    100%{width: 95%;}
}

@keyframes progreso5 {
    0%{width: 0;}
    100%{width: 80%;}
}

@keyframes progreso6 {
    0%{width: 0;}
    100%{width: 75%;}
}

@keyframes progreso7 {
    0%{width: 0;}
    100%{width: 85%;}
}

/* Experiencia Laboral */

#experiencia {
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}

#experiencia .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#experiencia .fila {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

#experiencia .fila .trabajo {            
    width: 250px;
    height: 250px;
    border: 1px solid #000;
    margin: 0 10px;
    position:relative;
    overflow: hidden;
}

#experiencia .fila .trabajo img {
    width: 100%;
    height: 100%;
    ;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}

#experiencia .fila .trabajo:hover img {
    filter: grayscale(0);
}

#experiencia .fila .trabajo .info {
    position: absolute;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ff5080;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

#experiencia .fila .trabajo:hover .info {
    opacity: 1;
    bottom: 0;
}

/* Contacto */

#contacto {
    padding: 100px 15px;
    text-align: center;
    background-color: #f3f3f3;
}

#contacto .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#contacto p {
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}


#contacto .contenedor-contacto {
    max-width: 1100px;
    margin: auto;
}
.contacto-mail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }
  
  .contacto-icono {
    color: var(--grey);
    padding: 40px;
    transition: all 0.3s;
  }
  
  .fa-envelope{
    color: #000;
  }
    
  .fa-instagram{
    color: #000;
  }
  
  .fa-linkedin-in{
    color: #000  ;
  }

  .fa-facebook {
    color: #000;
  }
  
  .contacto-icono i {
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  .fa-envelope:hover {
    transition: .5s;
    color: #1b92f3;
  }
  .fa-instagram:hover {
    transition: .5s;
    color: #1b92f3;
  }
  .fa-facebook:hover {
    transition: .5s;
    color: #1b92f3;
  }
  .fa-linkedin-in:hover {
    transition: .5s;
    color: #1b92f3;
  }
  .active a {
    color: #f5f5f5;
  }


  footer {
    background-color: #000;
    font-size: 10px;
    color: #fff;
    text-align: center;
    padding: 15px 0;

  }

  /* Responsive */

  @media screen and (max-width:800px) {
    .redes {
        display: none;
    }

    nav {
        display: none;
    }

    nav.responsive{
        display:block;
        background-color:rgba(0, 0, 0,.8);
        width:100%;
        position:absolute;
        top:48px;
        left: 0;
        padding: 10px 0;
    }

    nav.responsive ul{
        display: block !important;
        text-align: center;
    }

    nav.responsive.ul li{
        margin: 5px 0;
    }

    #icono-nav{
        display: block;
    }

    #inicio .contenido .presentacion h2 {
        font-size: 40px;
    }

    #sobremi {
        padding: 50px 0;
        display: block;
    }

    #sobremi .contenedor-foto {
        max-width: 200px;
        margin: auto;
    }

    #sobremi .contenedor-foto img {
        padding: 8px;
    }

    #sobremi .sobremi .titulo-seccion {
        text-align: center;
    }
    
    #sobremi .sobremi h2 {        
        font-size: 25px;
        text-align: center;
    }

    #formacionacademica {
        padding: 50px 15px;
    }

    #formacionacademica .fila {
        display: block;
    }

    #formacionacademica .fila .formacion {
        margin: 10px auto;
    }

    .contenedor-habilidades {
        padding: 50px 20px;
    }

    #experiencia {
        padding: 50px 0;        
    }

    #experiencia .fila {
        display: block;
    }

    #experiencia .fila .trabajo{
        margin: 10px auto;
    }

    #contacto {
        padding: 50px 0;
        
    }

    #contacto .contacto-mail {
        display: block;
    }


  }